<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~  Self-drive Manager  ~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <node name="selfdrive_manager" pkg="AY20_IGVC" type="selfdrive_node.py" output="screen" />
  
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~  Constant Velocity Controller  ~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <node name="speed_controller" pkg="AY20_IGVC" type="constVelocity.py" output="screen" /> 
  
  <node name="cnn" pkg="AY20_IGVC" type="darknet.py" />
  
  <node name="whiteline_detector" pkg="AY20_IGVC" type="whiteline_detector.py" />
  
</launch>
